label for="title" Title:
input#title type="text" name="pin[title]" value="#{@pin.title}"
label for="blurb" Blurb:
input#blurb type="text" name="pin[blurb]" value="#{@pin.blurb}"
label for="lat" Latitude:
input#lat type="text" name="pin[lat]" value="#{@pin.lat}"
label for="lat" Longitude:
input#lng type="text" name="pin[lng]" value="#{@pin.lng}"
input type="submit" value="Save Pin"
