label for="title" Stage Name:
input#title type="text" name="pin[stage_title]" value="#{@pin.title}"
label for="blurb" Blurb:
input#first_name type="text" name="pin[blurb]" value="#{@pin.blurb}"
label for="lat" Latitude:
input#surname type="text" name="pin[lat]" value="#{@pin.lat}"
label for="lat" Longitude:
input#surname type="text" name="pin[lng]" value="#{@pin.lng}"
input type="submit" value="Save Pin"