hr
h1 = @pin.title
h2 = @pin.blurb
h4 = @pin.lat
h4 = @pin.lng
hr

p <a href="/pins/#{@pin.id}/edit">edit this Pin</a>


form action="/pins/#{@pin.id}" method="POST"
    input type="hidden" name="_method" value="DELETE"
    input type="submit" value="delete this pin"